.container {
    background-color: rgb(253, 253, 253);
    backdrop-filter: blur(5px); 
    border-radius: 10px; 
    padding: 20px;
    text-align: center;
    border: 1px solid rgba(68, 66, 66, 0.158);
    box-shadow: 0 4px 6px rgba(161, 158, 158, 0.1); 
    width: 450px;
    margin-left: 45rem;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.thumbnail {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.container h1 {
    font-size: 20px; 
    color: #080808; 
    margin: 10px 0; 
    text-align: center;
    font-weight: 400;
}

.container h2 {
    font-size: 20px; 
    color: #555; 
    margin: 10px 0;
    text-align: center;
    font-weight: 400;
}

.container h3 {
    font-size: 15px; 
    color: #615c5c; 
    margin: 10px 0; 
    font-weight: 400;
}

.container p {
    font-size: 15px; 
    color: #464545; 
    margin: 10px 0; 
    font-weight: 600;
}