.cartContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px; 
}


.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 253, 253);
    backdrop-filter: blur(5px); 
    border-radius: 10px; 
    text-align: center;
    border: 1px solid rgba(68, 66, 66, 0.158);
    box-shadow: 0 4px 6px rgba(161, 158, 158, 0.1); 
    width: 450px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    list-style: non
}



.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.thumbnail {
    width: 60%;
}

.eliminar {
    width: 50%;
        margin:10px;
        cursor: pointer;
}

.eliminar:hover {
    background-color: #31A2B6;
    color: #fff;
}