.Navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #020202;
border: 1px solid #000000;
font-family: "Roboto", sans-serif;
font-size: 60x;
backdrop-filter: blur(1px) saturate(200%);
position: relative;
margin: 0px; 
box-shadow: 0 15px 25px rgba(31, 157, 161, 0.74);
}

.links {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;
    display: flex;
    gap: 65px;
    color: #31A2B6;
    text-decoration: none;
    gap: 50px;
    margin: 8px;
    margin-left: 100px;
}

.larola {
    width: 20%;
    margin-left:100px;
    border-radius: 50%;
    mask-image: linear-gradient(#0E2130 80% , transparent 100%) ;
    opacity: 0.8;
}

.link {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.link:hover {
    color: #31A2B6;
    text-decoration: underline;
}