* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(195, 100%, 99%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(0, 0%, 50%) 0, transparent 55%);
}

