.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px; 
    margin: 50px 100px ;
    padding: 20px;  
    width: 18rem;
}

.titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 50px 0 0 50px;
    text-decoration: underline;
}